<div class="containar">
  <%= form_for [@book, @comment] do |f| %>
  <div style="margin: 8px 0">
    <%= f.text_area :comment, placeholder: 'コメントを書いてね！', style: 'width: 100%;height: 300px;' %>
  </div>
  <div class="row">
    <div class="col10 push1">
      <%= button_tag type: "submit", class: "btn btn--block" do %>
      投稿する<i class="icon-arrow-right"></i>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
