<div class="user_page">
  <div class="container">
    <%= image_tag current_user.avatar.url(:small), :class => "img-circle"%>
    <h2 class="text-middle h2"><%= current_user.nickname %> <span>さんのマイページ</span></h2>
  </div>
</div>
<div class="container">
  <h3 class="text-middle h3 section">出品した商品一覧</h3>
    <ul class="user_books">
      <div class="row flex">
          <% current_user.books.each do |book| %>
            <li class="each book col-xs-4">
              <div class="book-title">
              <%= book.title %>
              </div>
              <div class="book-image">
              <%= link_to image_tag(book.goods, :class => "img-thumbnail"), book_path(book.id), method: :get %>
              </div>
            </li>
          <% end %>
      </div>
    </ul>
</div>
