<div class="container">
  <div class="container index-sort">
    <h2 class="section ">
    作品一覧
    </h2>
  </div>
  <div class="container index">
    <ul class="all_books">
      <div class="row flex">
          <% @books.each do |book| %>
            <li class="col-sm-4 col-md-3">
              <div class="book-image">
                <%= link_to image_tag(book.goods, :class => "img-thumbnail"), book_path(book.id), method: :get %>
              </div>
              <div class="book-title">
                <h3><%= book.title %></h3>
              </div>
              <div class="book-price">
                <h3>¥<%= book.price %></h3>
              </div>
            </li>
          <% end %>
      </div>
    </ul>
  </div>
  <%= paginate(@books) %>
</div>
