<div class="containar">
  <div class="container">
    <div class="page-info">
      <h3 class="text-middle h3">
      投稿する作品を検索
      </h3>
    </div>
    <div class ="input-group">
      <%= form_tag('/books/search', method: :get) do%>
        <input class="form-control" name="keyword" placeholder="作品名で検索" type="text" value="">
          <button class="btn btn-default" title="検索" type="button">検索する</button>
        </input>
      <% end %>
    </div>
  </div>
  <div class="container">
    <h3 class="text-middle h3 section">
      検索結果
    </h3>
      <ul class="flexbox all_books">
        <div class="row">
          <% @books.each do |book| %>
            <li class="each book col-xs-4">
              <div class="book-title">
                <%= book.title %>
              </div>
              <div class="book-image">
              <%= link_to image_tag(book.goods, :class => "img-thumbnail"), book_path(book.id), method: :get %>
              </div>
            </li>
          <% end %>
        </div>
      </ul>
    <%= paginate(@books) %>
  </div>
</div>

