// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html{
  font-size: 14px;
}

h1{
  font-size: 250%;
}

h2{
  font-size: 200%;
}

h3{
  font-size:150%;
}

.flex {
  display: -webkit-flex;
  display: flex;
  flex-wrap:wrap;
}

.index-sort{
  margin-bottom: 30px;
}

.section{
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
}

.form{
  margin-top: 20px;
}

.goods-picture{
  height: 50px;
}

.space{
  margin-right:10px;
}

.col-sm-4 .book-image-tag{
  width:300px;
  height:300px;
  margin-right:300px;
}

.certification_wrapper{
  text-align: center;
  margin-top: 30px;
}

.each-book{
  margin-bottom: 20px;
}

.name-and-picture{
  margin: 30px 0px 80px;
}

.book-title {
  text-align: center;
  margin: 20px 0px;
}

.book-image {
  text-align: center;
}

.book-price{
  text-align: center;
  margin-bottom: 20px;
}

.over-margin{
  margin-top: 15px;
}

.detail-area{
  width: 300px;
}




